body {
    background-color: rgb(206, 123, 206);
}
.container1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container1  > p {
    border: 1px solid red;
    width:100px;
    height:70px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container > div {
    border: 1px solid rgb(17, 17, 104);
    width:200px;  
    height:100px;
    font-size:40px;
    text-align: center;

}
button {
    width: 50px; 
    height: 40px;
}
#in1 {
    width: 100px; 
    height:40px;
}
 