body {
    background-color: rgb(192, 192, 235);
}
.container1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container1  > p {
    border: 1px solid red;
    width:100px;
    height:70px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container > div {
    border: 1px solid blue;
    width:200px;  
    height:100px;
    font-size:20px;
    text-align: center;

}
button {
    width: 50px; 
    height: 20px;
}
 